div {
  background-color: grey;
  height: 00px;
  width: 400px;
  position: relative;
  right: -340px;
}
img {
  height: 700px;
  width: 420px;
  position: relative;
  border-radius: 50px;
  top: 20px;
  left: -140px;
}
.position {
  height: 240px;
  width: 420px;
  position: absolute;
  bottom: 20px;
  background-color: lightgrey;
  top: 520px;
  left: -140px;
  border-radius: 25px;
  align-items: center;
}
.position > ul > h4 > li {
  color: black;
}
.logo > img {
  height: 40px;
  width: 40px;
  left: -240px;
  top: -10px;
}

.insta > img {
  height: 40px;
  width: 40px;
  left: -80px;
  top: -10px;
}
.linkdin > img {
  height: 40px;
  width: 40px;
  left: -160px;
  top: -10px;
}
.button {
  position: absolute;
  top: 200px;
  right: -70px;
}
.Hire {
  position: absolute;
  top: 200px;
  right: -220px;
}
